@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.field{
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  width: 100%;
  &__label{
    @include margin-auto;
    @include flex-center;
    padding-bottom: 4px;
    color: $color-moss;
    font-size: 1.25rem;
  }
  &__input {
    @include margin-auto;
    @include flex-center;
    border: 1px solid $color-moss;
    border-radius: 4px;
    padding: .25rem;
    //background-color: $color-moss;
  }
}