@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.nav {
  width: 100%;
  background-color: $color-white;
  color: $color-dark-green;
  &__container {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
  }
  &__link-container{
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    @include link-reset;
    color: $color-pink;
    padding-left: .5rem;
    &--special {
      @include font-abril;
      color: $color-moss;
      padding-left: 0;
    }
  }
}