@use '../partials/mixins' as *;
@use '../partials/variables' as *;
@use '../partials/resets' as *;

.login {
  width: 100%;
  min-height: 500px;
  background-image: url('../assets/images/backgrounds/ficus-leaves-pretty-josh-calabrese.jpg');
  background-size: cover;
  background-position: 60% 0%;
  &__container { 
    @include margin-auto;
    width: 100%; 
    max-width: 350px;
  }
  &__heading {
    @include font-abril;
    @include flex-center;
    color: $color-pink; // maybe tuna
    margin-top: 5rem;
    padding-top: 1.25rem;
    padding-bottom: .5rem;
    font-size: 2.5rem;
  }
  &__form{
    @include margin-auto;
    width: 100%;
  }
  &__title {
    @include flex-center;
    //@include font-regular;
    color: $color-tuna;
    padding-bottom: .5rem;
    padding-top: 1rem;
  }
  &__button {
    @include flex-center;
    @include margin-auto;
    background-color: $color-pink;
    color: $color-white;
    padding: .25rem 1rem;
    border: 0px;
    border-radius: 4px;
  }
  &__message {
    @include flex-center;
    padding-top: .5rem;
  }
  &__details {
    @include flex-center;
    @include margin-auto;
    margin-top: 1.5rem;
  }
  &__link {
    @include link-reset;
    @include font-regular;
    padding: 0 .25rem;
    color: $color-pink;
  }
}