@use '../partials/mixins' as *;
@use '../partials/variables' as *;
@use '../partials/resets' as *;

.mainPage{
  width: 100%;
  &__container{
    @include margin-auto;
  }
  &__title-container{
    padding: 3rem 0;
  }
  &__title  {
    @include flex-center;
    @include font-abril;
    color: $color-tuna;
    font-size: 2rem;
  }
  &__heading {
    @include flex-center;
    padding-bottom: 1rem;
  }
  &__logout {
    @include margin-auto;
    @include flex-center;
    @include link-reset;
    @include font-light;
    margin-top: 3rem;
    font-size: 1.1rem;
    color: $color-tuna;
    background-color: $color-white;
    border: none;
    &:hover {
      @include font-light-italic;
    }
  }

}