@use '../partials/mixins' as *;
@use '../partials/variables' as *;
@use '../partials/resets' as *;

.plantDetails{
  width: 100%;
  background-color: $color-moss;
  &__container {
    width: 100%;
    padding: 1rem;
    @include mid-mobile{
      @include margin-auto;
      max-width: 470px;
    }
    @include tablet {
      @include margin-auto;
      max-width: 850px;
      padding: 1rem 2rem;
      height: 100vh;
    }
  }
  &__top-container {
    width: 100%;
    @include mid-mobile{
      @include margin-auto;
      max-width: 500px;
    }
    @include tablet {
      @include margin-auto;
      max-width: 1000px;
      display: flex;
    }
  }
  &__image {
    @include margin-auto;
    @include flex-center;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    @include mid-mobile{
      @include margin-auto;
      margin-top: 2rem;
      width: 350px;
      height: 350px;
    }
    @include tablet {
      @include margin-auto;
      width: 300px;
      height: 300px;
      margin: 1rem;
    }
  }
  &__heading{
    @include font-abril;
    @include flex-center;
    color: $color-white;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 1.5rem;
  }
  &__sub-heading{
    @include flex-center;
    padding: .5rem;
    font-size: .9rem;
  }
  &__special {
    @include font-regular;
    padding-left: .25rem;
    font-size: 1rem;
  }
  &__title{
    @include flex-center;
    color: $color-white;
    padding: .5rem;
    font-size: 1.25rem;
  }
  &__description{
    padding: .25rem 0;
    line-height: 1.05rem;
    font-size: .825rem;
    text-align: center;
    @include tablet {
      @include margin-auto;
      padding: .75rem 1rem;
    }
  }
  &__sub-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    @include tablet {
      @include margin-auto;
      padding: 1rem 2rem;
    }
  }
  &__details {
    @include font-thin;
    font-size: .85rem;
    &--special {
      @include font-regular;
      padding-left: .25rem;
      font-size: .925rem;
    }
  }

}