@use '../partials/mixins' as *;
@use '../partials/variables' as *;
@use '../partials/resets' as *;

.signUp {
  width: 100%;
  min-height: 500px;
  background-image: url('../assets/images/backgrounds/henry-leaves-bottomleft.jpg');
  background-size: cover;
  background-position: 100% 0%;
  &__container { 
    @include margin-auto;
    width: 100%; 
    max-width: 350px;
  }
  &__form{
    @include margin-auto;
   // padding-top: .5rem;
    padding-top: 4rem;
    width: 100%;
  }
  &__title {
    @include flex-center;
    color: $color-tuna;
    padding-bottom: .5rem;
    padding-top: 3rem;
  }
  &__button {
    @include flex-center;
    @include margin-auto;
    background-color: $color-pink;
    color: $color-white;
    padding: .25rem 1rem;
    margin-top: .5rem;
    border: 0px;
    border-radius: 4px;
  }
  &__message {
    @include flex-center;
    padding-top: .5rem;
  }
  &__details {
    @include flex-center;
    @include margin-auto;
    @include font-regular;
    // margin-top: 1.5rem;
    margin-top: 3.5rem;
  }
  &__link {
    @include link-reset;
    @include font-regular;
    padding: 0 .25rem;
    color: $color-pink;
  }
}