@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/resets' as *;

.plantCard {
  width: 100%;
  padding: .5rem;
  display: flex;
  @include tablet {
    padding: .5rem 1rem;
  }
  &__link {
    @include link-reset;
    padding: 0;
    margin: 0;
    @include tablet {
      display: flex;
      width: 100%;
    }
  }
  &__container{
    width: 100%;
    display: flex;
    @include tablet {
      background-color: $color-light-green;
      padding: 1rem 0;
    }
  }
 
  &__left{
    width: 30%;
    margin: .5rem;
    height: 70px;
    width: 70px;
    background-color: $color-spanish-green;
    border-radius: 50%;
    @include tablet {
      @include margin-auto;
      width: 40%;
      height: 140px;
      width: 140px;
    }
  }
  &__right{
    max-width: 70%;
    width: 70%;
    padding: .5rem 0;
    @include tablet {
      @include margin-auto;
      width: 60%;
      margin-left: 0;
      padding: 1rem 0;
    }
  }
  &__top{
    display: flex;
    flex-direction: row;
  }
  &__icon {
    width: 15px;
    background-color: $color-white;
    &--special {
      width: 15px;
      background-color: $color-white;
      color: $color-tuna;
    }
  }
  &__heading{
    @include font-abril;
    color: $color-tuna;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__subheadings{
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    color: $color-pink;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__details {
    @include font-light; // make thicker
  }
  &__button {
    border: none;
    color: $color-tuna;
    background-color: $color-white;
    &--special {
      border: none;
      color: $color-tuna;
      background-color: $color-white;
    }
  }
}