//breakpoints
$breakpoint-large-phone: 450px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

//colors
$color-white: #FFFFFF;
$color-light-green: #F2F2EB;
$color-moss: #849B8E;
$color-green: #46945F;
$color-pink: #B05161;
$color-dark-green: #303D3D;

//secondary
$color-porcelain: #EDEEF0;
$color-juniper: #73908C;
$color-mineral-green: #21472D;
$color-spanish-green: #799681;
$color-heavy-metal: #19161A;
$color-baltic-sea: #28212A;
$color-tuna: #343646;