//breakpoints
$breakpoint-large-phone: 450px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

//colors
$color-white: #F2F2EB;
$color-moss: #849B8E;
$color-green: #46945F;
$color-pink: #B05161;
$color-dark-green: #303D3D;